/* _content/miro/Pages/Accounts/Login.cshtml.rz.scp.css */
.bd-placeholder-img[b-35l3cipcax] {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg[b-35l3cipcax] {
      font-size: 3.5rem;
    }
  }

  .b-example-divider[b-35l3cipcax] {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr[b-35l3cipcax] {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi[b-35l3cipcax] {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller[b-35l3cipcax] {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav[b-35l3cipcax] {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

/* _content/miro/Pages/Admin/_Layout.cshtml.rz.scp.css */
@media (min-width: 768px) {
    .bd-placeholder-img-lg[b-ct4wqy9nzs] {
      font-size: 3.5rem;
    }
  }
/* _content/miro/Pages/Index.cshtml.rz.scp.css */


@media (max-width: 767.98px) {
    #intro-upper[b-crsh8ehpzl] {
        height: 500px;
    }
}



@media (max-width: 767.98px) {
    #intro-lower[b-crsh8ehpzl] {
        margin-top: -270px;
    }
}
/* _content/miro/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
} */



